.bg-image {
    background-image: url(https://mdbgo.io/ascensus/mdb-advanced/img/clear.gif);
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}